/* IMPOSTAZIONI GENERALI */

body {
    font-family: Poppins, "Helvetica Neue", sans-serif;
    background-image: url(assets/img/sfondo.png);
    background-position: center center;
    background-size: contain;
    line-height: 1.5;
    font-size: 1.1em;
}


/* HEADER */

header {
    background: linear-gradient( 0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 38%, rgba(0, 212, 255, 1) 100%);
    font-weight: bold;
    margin: 20px;
    color: white;
    text-align: center;
    padding: 2em;
    box-shadow: 0px 5px 5px 0px black;
    border-bottom: 1px solid blue;
}

.epicode {
    padding-bottom: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

header img {
    width: 40%;
    padding-bottom: 30px;
}


/* MAIN */

main {
    background-color: rgb(244, 242, 242);
    margin: 20px;
    box-shadow: 0px 7px 7px 0px #b6b6b6;
    padding: 1.2em;
}

.title {
    font-weight: bold;
    font-size: 2em;
}

.mario {
    opacity: 0.5;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* ELEMENTI NEL MAIN - ARTICLE */

span {
    color: rgb(121, 5, 69);
}

.article {
    padding-bottom: 20px;
    padding-top: 20px;
}

main ul,
ol {
    margin-left: 2em;
}

code {
    background: lightgray;
    border-radius: 5px;
    border: 1px solid darkgray;
}


/* TABELLE */

caption {
    font-weight: bold;
}

table {
    width: 100%;
    border-bottom: 1px solid #0400ff;
    text-align: center;
}

thead {
    background-color: blue;
    color: white;
    height: 60px;
}


/* FORM */

iframe {
    width: 95%;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

.video {
    padding-bottom: 20px;
}

.novità {
    background-color: rgb(157, 153, 153);
    padding-top: 30px;
    padding-bottom: 30px;
}


/* ELEMENTI NELL' ASIDE */


/* FOOTER */

footer {
    background-color: rgb(66, 66, 121);
    align-items: center;
    color: white;
    box-shadow: 0px 7px 7px 0px #b6b6b6;
}